body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
.card-data{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
    height: 20vh;
    background-color: slategrey;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 8px 8px 12px #333;
}

div .items{
    width: 85%;
    height: 20%;
    /*background-color: gray;*/
    margin: auto;
    padding: 10px;
    color: whitesmoke;
}
div .items span{
    background-color: none;
    color: #333;
}
.main-container {
  background-color: black;
  border: solid rgb(38, 131, 238) 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
  display: flex;
  align-items: center;
  color: aliceblue;
}

.card1 {
  font-style: italic;
  font-family: Gothic;
}
* {
    margin: 0;
    background-color:#888;
    box-sizing: border-box;
}
div.container {
    display: flex;
    justify-content: center;
}
div.card-airy {
    margin: 20px 10px;
    padding: 10px 10px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid cyan;
    width: 200px;
}
